[submodule "templates/sudoku"]
	path = templates/sudoku
	url = https://github.com/tatsy-classes/sudoku-solver-template.git
[submodule "lib/advml"]
	path = lib/advml
	url = https://github.com/tatsy/1284-sds-lib-advml.git
[submodule "templates/ogura"]
	path = templates/ogura
	url = https://github.com/tatsy-classes/ogura-agent-template.git
[submodule "templates/othello"]
	path = templates/othello
	url = https://github.com/tatsy-classes/othello-template.git
[submodule "autograding/sudoku"]
	path = autograding/sudoku
	url = https://github.com/tatsy-classes/sudoku-autograding.git
[submodule "autograding/ogura"]
	path = autograding/ogura
	url = https://github.com/tatsy-classes/ogura-autograding.git
[submodule "modules/advml"]
	path = modules/advml
	url = https://github.com/tatsy/1284-sds-lib-advml.git
[submodule "modules/othello"]
	path = modules/othello
	url = https://github.com/tatsy-classes/cothello.git
