[submodule "templates/sudoku-solver"]
	path = templates/sudoku-solver
	url = https://github.com/tatsy-classes/sudoku-solver-template.git
[submodule "lib/advml"]
	path = lib/advml
	url = https://github.com/tatsy/1284-sds-lib-advml.git
[submodule "templates/ogura-agent"]
	path = templates/ogura-agent
	url = https://github.com/tatsy-classes/ogura-agent-template.git
