[submodule "templates/sudoku-solver"]
	path = templates/sudoku-solver
	url = https://github.com/tatsy-classes/sudoku-solver-template.git
[submodule "libs"]
	path = libs
	url = github:tatsy/1284-sds-lib-advml.git
